[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
conan = ">=1.9"
conan_package_tools = ">=0.20"
idna = ">=2.6"
colorama = ">=0.3"

[dev-packages]
